<!DOCTYPE html>
<html>
  <head>
    <title>WallstreetBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/stocks">Stocks</a>
      <a href="/books">Books</a>
    </nav>
    <%= yield %>
  </body>
</html>
